extends ./layout.jade
//- this page documents the api

block title
	title #{title}

block content
	header
		h1 #{heading}
	main
		p The api documentation will go here
		a(href="/") NaiJav
	footer
		&copy; NaiJav Team